.footer {
  background: var(--footer-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  
  @media screen and (min-width: 768px) {
       
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row; 
    align-items: baseline; 
    gap: 0; 
  }
}
.footer__list-adress {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
  @media screen and (min-width: 768px) {
    gap: 160px;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    gap: 0;
  }
}
.footer__adress {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    display: block; 
    flex-direction: row;
  }
}
.logo-footer {
  display: inline-block;
  margin: auto;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
   margin: 0; 
    
  }

}
.logo-studio-white {
  color: var(--white-text);
}
.adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text);
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}

.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-text);
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
   }
}
.footer-link {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
  &:hover,
  &:focus {
    fill: #ffffff;
    background-color: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.footer-social-link {
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
  
}
.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-svg {
  fill: var(--white-text);
}

.footer-contacts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}
.list-link {
 text-align: center;
 @media screen and (min-width: 1200px) {
  text-align: start;
}
}
.list-link li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-send-form {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
  
}
.form-field-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.form-label-footer {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.form-input-footer {
  padding: 15px 16px;
  width: 450px;
  background-color: inherit;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--team-color);
  @media screen and (min-width: 1200px) {
    width: 358px;
  }

}
.form-btn-footer {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--hover-color);
  border-radius: 4px;
  color: #ffffff;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  &:hover,
  &:focus {
    background-color: var(--special-btn-color);
  }
}
.icon-form-footer {
  left: 12px;
  color: currentColor;
}
