.line-header {
  border: 1px solid #ececec;
  border-top: none;
  border-left: none;
  border-right: none;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.site-nav {
  display: flex;
  align-items: center;
  margin-left: 90px;
  gap: 50px;
  a {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--site-nav-text);
    padding: 32px 0px;
    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus {
      color: var(--hover-color);
    }
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (max-width: 1199px) {
    margin-left: 80px;
    margin-right: 80px;
    font-size: 12px;
    line-height: 1.16;
  }
}

.current {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-color);
  }
}

.contacts {
  display: flex;
  align-items: center;

  gap: 50px;
  a {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--team-color);
    display: flex;
    gap: 10px;
    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus {
      color: var(--hover-color);
    }
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    gap: 10px;
  }
}

.contact-logo {
  fill: currentColor;
  align-self: center;
}
//<!-- мобільне меню -->//
.open-menu {
  background-color: var(--white-text);
  display: flex;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mob-menu {
  position: fixed;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-right: 15px;
  padding-left: 40px;
  padding-bottom: 50px;  
  z-index: 1;
  top: 0;
  overflow: auto;
  background-color: #fff;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mob-menu_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 48px;
  margin-left: 25px;
}
.mob-menu__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  background-color: transparent;

  align-items: center;
  width: 40px;
  height: 40px;

  &:hover,
  &:focus {
    fill: var(--hover-color);
  }
}
.mob-menu__nav {
  
  li:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu__nav-list {
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}
.mob-menu__section {
  margin-top: auto;
}
.mob-menu__contacts {
  display: block;
  margin-bottom: 64px;
}
.mob-menu__contact-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 7.1vw;
  line-height: 1.17;

  letter-spacing: 0.02em;
  display: block;
  color: #2196f3;
  margin-bottom: 32px;
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}
.mob-menu__contact-email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;

  display: block;
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}
.mob-menu__social-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  li:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.social-list__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  padding-right: 10px;
  margin-left: 10px;
  transform: rotate(90deg);

  border-top: none;
  border-bottom: none;
}
