.portfolio {
  padding-bottom: 60px;
  padding-top: 60px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
     padding-top: 94px;
  }
}
.portfolio__btn {
  font-family: "Roboto", sans-serif;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--site-nav-text);
  background: var(--back-list-color);
  border-radius: 4px;

  padding: 5px 22px;
  min-height: 38px;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--white-text);
    background-color: var(--hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
.portfolio__progect-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--site-nav-text);
  margin-bottom: 4px;
}
.portfolio__progect-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--team-color);
}
.portfolio__list-button {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;  
  gap: 8px;
  
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    
  }
}
.portfolio__top-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 60px) / 3);
  }
  
}
.portfolio__overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 0px 24px;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms var(--timing-function);
  overflow: auto;
  .portfolio__all-items-link:hover &,
  .portfolio__all-items-link:focus & {
    transform: translateY(0);
  }
}

.portfolio__progect-list {
  border: 1px solid #eeeeee;
  border-top: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  flex-grow: 1;
}
.portfolio__all-items {
  
  max-width: 450px;
  @media screen and (min-width: 768px) {
     max-width: 354px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 370;
    
  }
}
.portfolio__all-items-link {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}
